{:source-paths ["src" "test"]
 :builds {:identity-test {:target :node-test :output-to "build/identity-tests.cjs"
                          :ns-regexp "ekyc.identity.*-test$" :autorun true
                          :compiler-options {:output-feature-set :es2020 :infer-externs :auto}}
          :identity {:target :esm :output-dir "build/identity"
                     :modules {:identity {:exports {verifyPassport ekyc.passport/verify-js}}}
                     :compiler-options {:output-feature-set :es2020 :infer-externs :auto}}}}
